In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/le_monde.csv")

In [5]:
df.head()

                                               title                 date
0  Guerre en Ukraine, en direct : la Russie affir...                  NaN
1  Guerre en Ukraine, en direct : l’OTAN et l’Uni...  2023-10-01 06:33:00
2  Invasion de l’Ukraine en cartes : l’évolution ...  2022-11-05 10:12:00
3  Guerre en Ukraine : la Russie ne contrôle plus...  2023-05-01 18:08:00
4  Vladimir Poutine ordonne un cessez-le-feu en U...  2023-05-01 19:33:00

In [129]:
df["date"] = df["date"].str.findall(r"\d{2} [a-zéèû]* \d{4} à \d{2}h\d{2}").str[0]

In [130]:
df["date"] = df["date"].str.replace("à ", "").str.replace("h", " ")

In [131]:
df[['day', 'month', 'year', 'hour', 'minute']] = df['date'].str.split(' ', expand=True)

In [132]:
month_dict = {
    'janvier': '01',
    'février': '02',
    'mars': '03',
    'avril': '04',
    'mai': '05',
    'juin': '06',
    'juillet': '07',
    'août': '08',
    'septembre': '09',
    'octobre': '10',
    'novembre': '11',
    'décembre': '12'
}

In [133]:
df['month'] = df["month"].replace(month_dict)
df['date'] = df['day'] + '/' + df['month'] + '/' + df['year'] + ' ' + df["hour"] + ':' + df["minute"]
df['date'] = pd.to_datetime(df['date'])
df.drop(columns = ['day', 'month', 'year', 'hour', 'minute'], inplace=True)

In [136]:
df

,Unnamed: 0,title,date
0,0,Guerre en Ukraine en direct : les Etats-Unis i...,2022-12-15 18:25:00
1,1,« Xi Jinping a signé l’arrêt de mort de l’inte...,2022-09-12 14:48:00
2,2,Crise énergétique : « La France est sur le poi...,2022-12-12 04:00:00
3,3,"« Pour soutenir l’Ukraine, il faut aider les a...",2022-12-12 17:00:00
4,4,"« Nous, députés européens, voulons plus d’Euro...",2022-12-13 05:30:00
...,...,...,...
9238,9238,Gazprom reprend ses livraisons de gaz à l’Ukraine,2015-12-10 12:47:00
9239,9239,"En Biélorussie, un scrutin pour renouer avec l...",2015-10-10 01:39:00
9240,9240,"Sainte Angela, prix Nobel de la paix ?",2015-08-10 19:14:00
9241,9241,"Face à la présence russe en Syrie, l’OTAN évoq...",2015-08-10 11:16:00
9242,9242,"La présence russe en Syrie, nouveau défi pour ...",2015-08-10 03:21:00