In [88]:
import pandas as pd
from datetime import date
from datetime import timedelta

In [89]:
df = pd.read_csv("../data/le_monde.csv")

In [90]:
df.head()

,title,date
0,La chaîne d’information russe RT France annonc...,"Publié aujourd’hui à 18h06, mis à jour à 18h28"
1,"« France-Allemagne, un couple en thérapie », s...",Publié aujourd’hui à 16h00
2,La Russie promet des « mesures de rétorsion » ...,"Publié aujourd’hui à 11h21, mis à jour à 12h05"
3,« France et Allemagne auraient bien trop à per...,"Publié aujourd’hui à 11h15, mis à jour à 11h27"
4,Des batteries de défense antiaérienne installé...,"Publié aujourd’hui à 10h44, mis à jour à 10h44"

In [91]:
df["date"] = df["date"].str.findall(r"[^Publié le ].+?(?=\d{2}h\d{2}).{5}").str[0]

In [92]:
df["date"] = df["date"].str.replace("à ", "")

In [95]:
today = date.today()
yesterday = today - timedelta(days = 1)

df["date"] = df["date"].str.replace("aujourd’hui", today.strftime('%d %m %Y'))
df["date"] = df["date"].str.replace("hier", yesterday.strftime('%d %m %Y'))
df["date"] = df["date"].str.replace("h", " ")

In [102]:
df.loc[20]

title    « Monde d’hier, monde de demain » : l’Union eu...
date                                   2023-01-20 05:45:00
Name: 20, dtype: object

In [97]:
df[['day', 'month', 'year', 'hour', 'minute']] = df['date'].str.split(' ', expand=True)

In [98]:
month_dict = {
    'janvier': '01',
    'février': '02',
    'mars': '03',
    'avril': '04',
    'mai': '05',
    'juin': '06',
    'juillet': '07',
    'août': '08',
    'septembre': '09',
    'octobre': '10',
    'novembre': '11',
    'décembre': '12'
}

In [99]:
df['month'] = df["month"].replace(month_dict)
df['date'] = df['day'] + '/' + df['month'] + '/' + df['year'] + ' ' + df["hour"] + ':' + df["minute"]
df['date'] = pd.to_datetime(df['date'])
df.drop(columns = ['day', 'month', 'year', 'hour', 'minute'], inplace=True)

In [103]:
df.loc[20]

title    « Monde d’hier, monde de demain » : l’Union eu...
date                                   2023-01-20 05:45:00
Name: 20, dtype: object