In [1]:
import pandas as pd

In [2]:
data = {
    'articles': pd.read_csv('articles.csv', date_parser=pd.Timestamp),
    'content_cities': pd.read_csv('content_cities.csv'),
    'contents': pd.read_csv('contents.csv'),
    'geocity': pd.read_csv('geocity.csv')
    }

In [3]:
data['articles']['article_date'] = pd.to_datetime(data['articles']['article_date'])

# query_cities_from_articles

In [4]:
"""
SELECT article_date, content_cities.city, latitude, longitude
FROM articles
JOIN contents ON articles.id = contents.article_id
JOIN content_cities ON contents.id = content_cities.content_id
JOIN geocity ON content_cities.city = geocity.city
ORDER BY article_date
;
"""

'\nSELECT article_date, content_cities.city, latitude, longitude\nFROM articles\nJOIN contents ON articles.id = contents.article_id\nJOIN content_cities ON contents.id = content_cities.content_id\nJOIN geocity ON content_cities.city = geocity.city\nORDER BY article_date\n;\n'

In [5]:
df = pd.merge(
    data['articles'],
    data['contents'], 
    left_on='id', 
    right_on='article_id', 
    how='inner'
)

df = pd.merge(
    df,
    data['content_cities'],
    left_on='id_y', 
    right_on='id', 
    how='inner'
)

df = pd.merge(
    df,
    data['geocity'],
    left_on='city', 
    right_on='city', 
    how='inner'
)

df = df[['article_date', 'city', 'latitude', 'longitude']]

/tmp/ipykernel_35437/2606479411.py:17: FutureWarning: Passing 'suffixes' which cause duplicate columns {'id_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = pd.merge(

In [6]:
df

            article_date       city   latitude  longitude
0    2021-02-03 12:38:00    Donetsk  48.015877  37.801342
1    2022-05-07 22:45:00    Donetsk  48.015877  37.801342
2    2022-06-02 10:03:00    Donetsk  48.015877  37.801342
3    2022-06-15 22:52:00    Donetsk  48.015877  37.801342
4    2022-06-14 17:27:00    Donetsk  48.015877  37.801342
...                  ...        ...        ...        ...
2836 2022-03-04 09:39:00     Pokrov  55.919600  39.177277
2837 2022-03-04 10:23:00     Pokrov  55.919600  39.177277
2838 2022-03-08 07:15:00     Pokrov  55.919600  39.177277
2839 2022-03-08 06:45:00  Pavlohrad  48.531677  35.870370
2840 2022-03-17 06:00:00       Luka  45.959244  15.820410

[2841 rows x 4 columns]

In [7]:
date_min = min(data['articles']['article_date']).to_pydatetime()
date_max = max(data['articles']['article_date']).to_pydatetime()

date_min, date_max

(datetime.datetime(1960, 5, 25, 0, 0), datetime.datetime(2023, 3, 9, 16, 0))

In [9]:
df_cities = df.copy()

In [10]:
df_cities = df_cities[df_cities['article_date'] <= date_max]

In [11]:
df_cities

            article_date       city   latitude  longitude
0    2021-02-03 12:38:00    Donetsk  48.015877  37.801342
1    2022-05-07 22:45:00    Donetsk  48.015877  37.801342
2    2022-06-02 10:03:00    Donetsk  48.015877  37.801342
3    2022-06-15 22:52:00    Donetsk  48.015877  37.801342
4    2022-06-14 17:27:00    Donetsk  48.015877  37.801342
...                  ...        ...        ...        ...
2836 2022-03-04 09:39:00     Pokrov  55.919600  39.177277
2837 2022-03-04 10:23:00     Pokrov  55.919600  39.177277
2838 2022-03-08 07:15:00     Pokrov  55.919600  39.177277
2839 2022-03-08 06:45:00  Pavlohrad  48.531677  35.870370
2840 2022-03-17 06:00:00       Luka  45.959244  15.820410

[2841 rows x 4 columns]